path:hover, circle:hover {
  cursor: pointer;
  opacity: 50%;
}

@media only screen and (max-width: 500px) {
  #map{
    display: block;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mobile-instructions{
    display: block;
  }

  .desktop-instructions{
    display: none;
  }

  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
    font-size: 0.5em;
  }
}

@media only screen and (min-width: 501px) {
  #map{
    display: block;
    position: absolute;
    top: 7em;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mobile-instructions{
    display: none;
  }

  .desktop-instructions{
    display: block;
  }

  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
  }
}