#map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
path:hover, circle:hover {
  cursor: pointer;
  opacity: 80%;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
  font-size: 1em;
}